.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.text{
  height: 60%;
  padding-top: 90px;
  padding-inline: 60px;
}
.div2{
  background-color: #5733ff;
  height: 100%;
}
.btnorange{
  color:#ffffff;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fb710e;
}
.btnbloc{
  display:block;
  width:45%;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.centerDiv{
  margin:auto;
}
.right{
  margin:right;
}
.md-7 {
  width: 60.5%;
}
.ml-6 {
  margin-left: 16%;
}
.fs-12{
  font-size: 2rem;
}
.margin{
  margin: auto;
  display:block;
}
.div3{
  background-color: #98ADE1;
  color: black;
  height: 100%;
}
